body{
    font-family: Verdana;
    background-color: #888888;
}

header{
    width: 100%;
}


main{
    text-align: center;
}

.main{
    height: 450px;
    float: left;
}
#lewy{
    background-color: white;
    width: 20%;
}
#prawy{
    
    background-color: #AEC6E6;
    width: 80%;
    overflow: auto;
}

footer{
    text-align: right;
    height: 25px;
}
img{
    width: 100%;
}
h1{
    color: blue;
    padding-top: 50px;
}
ol li{
    width: 120px;
    background-color: #AEC6E6;
    padding: 5px;
    margin-top: 10px;

    list-style-type: none;
    
}
ol li:hover{
    background-color: #5555ff;
}
ol li a{
    text-decoration: none;
    color:#232323;
}
table{
    padding-top: 20px;
    margin-left:25% ;
    
    
}
td{
    border: 1px solid black;
    height: 15px;
    width: 15px;
    text-align: center;
    font-size: 10px;
}
.zaj{
    background-color: red ;
    
}
.wol{
    background-color: grey;
}