body{
    font-family: Verdana;
    background-color: rgb(250, 235, 215);
}

h2{
    text-align: center;
}
h2::first-letter{
    font-size: 150%;
}
img{
    height: 100px;
    padding: 7px;
}
img:hover{
    background-color: rgb(210, 180, 140);
}





.bif{
    background-color: rgb(205,92,92);
    color:white;
    text-align: center;
    padding:5px;
}
.main{
    float:left;
}







#dane{
    background-color: rgb(210, 180, 140);
    color:white;
}

#m1{
    background-color: rgb(250, 235, 215);
    width: 25%;
    height: 500px;
}
#m2{
    background-color: rgb(250, 235, 215);
    width: 50%;
    height: 500px;
}
#m3{
    background-color: rgb(250, 235, 215);
    width: 25%;
    height: 500px;

}