body{
    font-family: Verdena;
    background-color: #B0BEC5;
}

footer{
    background-color: #29434E;
    color:white;
}

h3{
    background-color: #546E7A;
    color:white;
    margin:0px;
}

h4{
    text-align: center;
    margin: 0px;
}

#baner1{
    text-align: center;
    width: 70%;
}
#baner2{
    width: 30%;
}

.block{
    padding:5px;
    width: 226px;
    height: 280px;
    float:left;
}

.baner{
    background-color: #29434E;
    color:white;
    height: 70px;
    float:left;
}

.lista{
    background-color: #B0BEC5;
    max-height: 320px;
    
    
    overflow:scroll;
}

