h2{
	text-align:center;
	letter-spacing:7px;
	
}
img{
	
	width:1000px;
	height:300px;
}
body{
	background-color:Crimson;
	font-family:Tahoma;


}



#image{
	
	height:200px;
	width:auto;
	
}

.pola{
	height:300px;
	background-color:WhiteSmoke;
	float:left;

	
}

#baner{
	height:370px;
	text-align:center;
	color:white;
	
}
#mecze{
	height:150px;
	text-align:center;
	width: 100%;

	overflow-y: hidden;
	overflow-x: scroll;

	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	
}
.line{
	border-left: 2px solid black;
	float:left;
	height: 100%;
}
.block{
	color:white;
	text-align:center;
	width:200px;
	margin:10px;
	border:1px solid black;
	border-radius:10px;
	float:left;

	
}
.block:hover{
	
	border:1px solid white;
	
}
#glowny{
  background-color:WhiteSmoke;
  height:50px;

}
#pl{
	width:70%;
}
#pr{
	
	width:30%;
	text-align:right;
}
#pr2{
	margin-right:20px;
}


.customScroll::-webkit-scrollbar {
    width: 1px;
}

.customScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid rgb(3, 85, 168);
}