body{
    font-family: Garamond;

}
img{
    padding: 3px;
    margin: 15px;
    border: 2px dashed #3CB371;
}

header{
    background-color: #3CB371;
    color:white;
    padding: 10px;
    font-size: 130%;
    text-align: center;
}
footer{
    background-color: #3CB371;
    color:white;
    padding: 10px;
    font-size: 130%;
    text-align: center;

}


.main{
    background-color: #FAEBD7;
    height: 450px;
    float:left;
}

#lewy{
    width: 55%;
}
#prawy{
    width: 45%;
}