body{
    font-family: Helvetica;

}



h4{
    margin:0px;
}

input[type=submit]{
    background-color: #AF4448;
    color:white;
    padding: 5px;
    margin: 10px;
}



.main{
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
    float:left;
}

.bif{
    background-color: #AF4448;
    color:white;
    text-align: center;
    height: 20px;
}



